/* cursor */
input[readonly] {
  cursor: default;
}
/* death door */
input.check-death-door[value="0"] ~ div.door-button {display: none;}
input.check-death-door[value="1"] ~ div.door-text {display: none;}
/* sheet - tooltip */
.sheet-tooltip{
  cursor: pointer;
}
.sheet-tooltip:hover div{
  display: block;
  position: absolute;
}
.sheet-tooltip div{
  display: none;
}
/* [ BLOCK SWITCH ] */
.sheet-block-pc,
.charsheet .sheet-block-switch:checked ~ .sheet-block-npc {
  display: block;
}
.charsheet .sheet-block-npc,
.charsheet .sheet-block-switch:checked ~ .sheet-block-pc {
  display: none;
}
/* feat-row-show */
.charsheet .feat-row-show{
  display: none;
}
.charsheet .feat-row-show-check:checked ~ div.feat-row-show{
  display: block;
}
/* feat-block-switch */
.row-raw,
.charsheet .repeat-block-switch:checked ~ .row-clean {
  display: block;
}
.charsheet .row-clean,
.charsheet .repeat-block-switch:checked ~ .row-raw {
  display: none;
}
/* feat-block-switch-hide-text */
.charsheet .feat-row-hide:checked ~ div.feat-row-hide-text{
  display: none;
}
/* configure the tab buttons */
.charsheet .sheet-core,
.charsheet .sheet-spells,
.charsheet .sheet-fate,
.charsheet .sheet-options{
    display: none;
}
/* show the selected tab */
.charsheet .sheet-tabtoggle[value="core"] ~ div.sheet-core,
.charsheet .sheet-tabtoggle[value="spells"] ~ div.sheet-spells,
.charsheet .sheet-tabtoggle[value="fate"] ~ div.sheet-fate,
.charsheet .sheet-tabtoggle[value="options"] ~ div.sheet-options{
    display: block;
}
/* show selected tab - eq */
input.toggle-show[value="0"] ~ div.eq-display {
    display: none;
}